.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 380px);
    justify-content: center;
    gap: 30px;
    max-width: 1400px;
    margin: 50px auto;
}

.game-card {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 220px;
}

.card-add-game {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 220px;

    border-radius: 8px;
    outline: 5px dashed #fff;
    outline-offset: -5px;

    cursor: pointer;
    user-select: none;
    transition: transform 0.2s ease;
}

.card-add-game:hover {
    transform: scale(1.03);
}

.card-add-game .plus {
    font-weight: bold;
    font-size: 50px;
}

.game-card img {
    border-radius: 8px;
    width: 100%;
    transition: transform 0.2s ease;
}

.game-card img:hover {
    transform: scale(1.03);
}

a .discount-tag {
    background: var(--fire-gradient);
    padding: 4px 8px;
    border-radius: 8px;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
}

.game-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; /* Impedisce agli elementi di andare a capo */
}

.game-card-content h2 {
    font-weight: normal;
    font-size: 15px;
    white-space: nowrap; /* Impedisce al testo del titolo di andare a capo */
    overflow: hidden; /* Nasconde il testo che supera il contenitore */
    text-overflow: ellipsis; /* Aggiunge i puntini di sospensione (...) al testo troncato */
    flex-grow: 1; /* Permette al titolo di occupare lo spazio disponibile */
    min-width: 0; /* Importante per il corretto funzionamento di overflow: hidden con flexbox */
    margin-right: 10px; /* Aggiunge un po' di spazio tra il titolo e il blocco del prezzo */
}


.game-card-content .price-row {
    display: flex; /* Anche questo diventa un flex container per allineare sconto e prezzo */
    align-items: center;

    white-space: nowrap;/* Allinea verticalmente al centro sconto e prezzo */
}

.game-card-content .price {
    font-weight: normal;
    font-size: 20px;
}