.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 380px);
    justify-content: center;
    gap: 30px;

    max-width: 1400px;

    margin: 50px auto;
}

.game-card {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 220px;
}

.card-add-game {
    display: flex;
    justify-content: center;
    align-items: center;

    outline: 5px dashed #fff;
    outline-offset: -5px;
    border-radius: 8px;

    cursor: pointer;
    user-select: none;

    transition: transform 0.2s ease;
}

.card-add-game:hover {
    transform: scale(1.03);
}

.card-add-game .plus {
    font-weight: 600;
    font-size: 75px;
}

.game-card img {
    width: 100%;

    border-radius: 8px;

    transition: transform 0.2s ease;
}

.game-card img:hover {
    transform: scale(1.03);
}

.game-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-wrap: nowrap;
}

.game-card-content h2 {
    font-weight: 400;
    font-size: 15px;
    white-space: nowrap;           /* Impedisce il ritorno a capo */
    overflow: hidden;              /* Nasconde il testo che esce dal contenitore */
    text-overflow: ellipsis;       /* Mostra "..." alla fine del testo tagliato */
    flex-grow: 1;                  /* Fa sì che il titolo occupi tutto lo spazio disponibile */
    min-width: 0;                  /* Essenziale con flexbox per far funzionare overflow:hidden */
    margin-right: 15px;           /* Spazio tra il titolo e il prezzo */
}

.game-card-content .price-row {
    display: flex;
    align-items: center;
    gap: 10px;

    white-space: nowrap;
}

.game-card-content .price-row .discount-tag {
    padding: 4px 8px;

    border-radius: 8px;

    font-weight: 400;
    font-size: 15px;

    color: #fff;
    background: var(--fire-gradient);
}

.game-card-content .price-row .price {
    font-weight: 400;
    font-size: 25px;
}