.banner {
    display: flex;
    align-items: center;
    height: 500px;
    position: relative;

}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10%;
}

.banner-content h1 {
    font-size: 40px;
    font-weight: normal;
}

.price-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.discount-tag {
    background: var(--fire-gradient);
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: normal;
}

.price {
    font-size: 30px;
    font-weight: normal;
}

.actions {
    position: absolute;

    display: flex;
    justify-content: right;
    right: 5%;
    bottom: 10%;

    width: 100%;
}

#update-banner {
    background: var(--color-dark);
    padding: 15px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#update-banner:hover {
    transform: scale(1.03);
}