.logo {
    display: flex;
    align-items: center;
    gap: 7px;

    padding: 35px 5%;

    color: #fff;
    text-decoration: none;
}

.logo img {
    width: 30px;
    height: 30px;
}

.logo h1 {
    font-weight: 600;
    font-size: 15px;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 400px;
    height: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;

    background-color: var(--color-medium-dark);
    font-size: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input {
    padding: 15px;
    border: 1px solid var(--color-medium-light);
    border-radius: 8px;
    background-color: hsla(0, 0%, 6%, 0.4);
    color: #fff;
    font-size: 15px;
}

form input:hover,
form input:focus {
    outline: 2px solid var(--color);
    outline-offset: -2px;
}

.password-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.password-hint {
    display: none;
    flex-direction: column;
    padding: 15px;
    border: 1px solid var(--color-medium-light);
    border-radius: 8px;
    background-color: hsla(0, 0%, 6%, 0.4);
    color: var(--color-medium-light);
}

.password-hint ul {
    list-style: none;
}

#register-button {
    background: var(--fire-gradient);
    border: none;
}

#register-button:hover {
    background: var(--fire-gradient-hover);
    outline: none;
}

.login-redirect {
    color: white;
    text-decoration: none;
}

.login-redirect:hover {
    color: var(--color-link-hover);
    text-decoration: none;
}

.error-message {
    margin-top: 1rem;
    color: red;
    text-align: center;
}