.search-bar {
    width: 100%;
}

.search-bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 5%;
}

.search-bar-content input {
    padding: 15px;

    width: 450px;

    border: none;
    border-radius: 20px;

    font-weight: 400;
    font-size: 15px;

    color: #fff;
    background: var(--fire-gradient);
}

.search-bar-content input:hover,
.search-bar-content input:focus {
    outline: none;
}

.search-bar-content .logo {
    width: 100px;
}

.advanced-search {
    display: flex;
    justify-content: center;

    margin-top: 75px;

    width: 100%;
}

.advanced-search-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

    color: #fff;
}

.advanced-search select {
    width: 300px;
    padding: 15px;

    border: 1px solid var(--color-medium-light);
    border-radius: 8px;

    font-weight: 400;
    font-size: 15px;

    color: #fff;
    background-color: hsla(0, 0%, 6%, 0.4);

    appearance: none;
}

.advanced-search select:hover,
.advanced-search select:focus {
    outline: none;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.price input {
    width: 70px;

    padding: 15px;

    border: 1px solid var(--color-medium-light);
    border-radius: 8px;

    color: #fff;
    background-color: hsla(0, 0%, 6%, 0.4);
}

.advanced-search input:hover,
.advanced-search input:focus {
    outline: none;
}

.search-bar-content .header-icons {
    width: 100px;
}