.login {
    display: flex;
    justify-content: center;

    margin-top: 50px;
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 15px;

    width: 400px;

    border-radius: 8px;

    font-size: 15px;

    background-color: var(--color-medium-dark);
}

.login-container h1 {
    font-weight: 500;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input {
    padding: 15px;

    border: 1px solid var(--color-medium-light);
    border-radius: 8px;

    font-size: 15px;

    color: #fff;
    background-color: hsla(0, 0%, 6%, 0.4);
}

form input:hover,
form input:focus {
    outline: 2px solid var(--color);
    outline-offset: -2px;
}

.login #login-button {
    border: none;

    background: var(--fire-gradient);

    cursor: pointer;
}

.login #login-button:hover,
.login #login-button:focus {
    outline: none;

    background: var(--fire-gradient-hover);
}

.signup-redirect {
    color: white;

    text-decoration: none;

    transition: color 0.3s ease;
}

.signup-redirect:hover {
    color: var(--color-link-hover);

    text-decoration: none;
}

@media (max-width: 768px) {
    .login-container {
        width: 270px;
    }
}