.wish-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 50px auto 0 auto;

    max-width: 1200px;
}

.wish-list-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;

    width: 100%;
}

.wish-list h2 {
    display: flex;
    justify-content: left;

    margin-top: 50px;

    font-weight: 500;
    font-size: 25px;
}

.wish-list a {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 15px;

    color: #fff;

    text-decoration: none;

    transition: color 0.3s ease;
}

.wish-list a:hover {
    color: var(--color-link-hover);
}