.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 380px);
    justify-content: center;
    gap: 30px;
    max-width: 1400px;
    margin: 50px auto;
}

.game-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-add-game {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px dashed;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s ease;
}

.card-add-game:hover {
    transform: scale(1.03);
}

.card-add-game .plus {
    font-weight: bold;
    font-size: 50px;
}

.game-card a {
    position: relative;
}

.game-card img {
    border-radius: 8px;
    width: 100%;
    transition: transform 0.2s ease;
}

.game-card img:hover {
    transform: scale(1.03);
}

a .discount-tag {
    position: absolute;
    bottom: -5px;
    left: -5px;
    background: var(--fire-gradient);
    padding: 4px 8px;
    border-radius: 8px;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
}

.game-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.game-card-content h2 {
    font-weight: normal;
    font-size: 15px;
}

.game-card-content .price {
    font-weight: normal;
    font-size: 20px;
}