.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 380px);
    justify-content: center;
    gap: 50px;

    margin: 100px auto 0;

    max-width: 1400px;
}

.game-card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-add-game {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 230px;

    outline: 5px dashed #fff;
    outline-offset: -5px;
    border-radius: 8px;

    transition: transform 0.2s ease;
}

.card-add-game button {
    border: none;

    background: none;

    cursor: pointer;
}

.card-add-game:hover {
    transform: scale(1.03);
}

.card-add-game #plus {
    font-size: 70px;

    color: #fff;
}

#back-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 15px;

    width: 170px;

    border-radius: 100px;

    color: #fff;
    background-color: var(--color-medium-dark);

    text-decoration: none;

    transition: transform 0.2s ease;
}

#back-container:hover {
    transform: scale(1.03);
}

#back-container i {
    font-size: 30px;

    color: var(--color);
}

.game-card img {
    width: 100%;

    border-radius: 8px;

    transition: transform 0.2s ease;
}

.game-card img:hover {
    transform: scale(1.03);
}

.game-card #rimuovi, #attiva  {
    position: absolute;
    top: 15px;
    right: 15px;

    font-size: 30px;

    color: var(--color-error);

    cursor: pointer;
}

.game-card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game-card-content .game-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 380px;
}

.game-info h2 {
    width: 200px;

    font-weight: 400;
    font-size: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-info .price-row {
    display: flex;
    align-items: center;
    gap: 10px;

    white-space: nowrap;
}

.game-info .price-row .discount-tag {
    padding: 4px 8px;

    border-radius: 8px;

    font-weight: 400;
    font-size: 15px;

    background: var(--fire-gradient);
}

.game-info .price-row .price {
    font-weight: 400;
    font-size: 25px;
}

.game-card-content #game-key {
    display: flex;
    justify-content: center;

    padding: 15px;

    border-radius: 100px;

    font-weight: 600;
    font-size: 20px;

    background: var(--fire-gradient);
}

@media (max-width: 768px) {
    .game-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game-card {
        width: 300px;
    }

    .game-card-content .game-info {
        width: 300px;
    }

    .game-card-content .game-info h2 {
        font-weight: 400;
        font-size: 15px;

        width: 175px;
    }

    .card-add-game {
        height: 194px;
    }
}