.cart-page {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100vh;
}

.cart-page-content {
    display: flex;
    gap: 50px;

    padding-top: 100px;
}

.cart {
    display: flex;
    flex-direction: column;
}

.cart h2 {
    margin-bottom: 20px;
}

.cart-content {
    display: flex;
    flex-direction: column;

    width: 600px;

    border-radius: 8px;
}

.cart-content .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    gap: 10px;

    padding: 15px;

    border-radius: 8px;

    width: 100%;

    background-color: var(--color-medium-dark);
}

.cart-item #cover {
    border-radius: 8px;
}

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.price-container hr {
    width: 100%;
    height: 1px;

    border: none;

    background-color: hsla(0,0%,100%,.2);
}

.numbers {
    display: flex;
    align-items: center;
    gap: 10px;
}

.numbers #price {
    font-size: 20px;
}

.numbers .quantity-select {
    padding: 10px;
    border: 1px solid var(--color-medium-light);
    border-radius: 8px;
    background-color: hsla(0, 0%, 6%, 0.4);
    color: #fff;
    font-size: 15px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.price-container .actions a {
    color: #fff;

    text-decoration: none;
}

.price-container .actions a:hover {
    color: var(--color-link-hover);
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding: 20px;

    height: 250px;

    border-radius: 8px;

    background-color: var(--color-medium-dark);
}

.cart-content .empty-cart i {
    color: var(--color);

    font-size: 50px;
}

.cart-content .empty-cart span {
    font-weight: 400;
    font-size: 20px;
}

.empty-cart p {
    text-align: center;

    color: var(--color-light);
}

.empty-cart button {
    padding: 15px;

    border: 1px solid var(--color-medium-light);
    border-radius: 8px;

    font-size: 15px;

    background-color: hsla(0, 0%, 6%, 0.4);
    color: #fff;

    cursor: pointer;
}

.empty-cart button:hover {
    outline: 2px solid var(--color);
    outline-offset: -2px;
}

.cart-summary {
    display: flex;
    flex-direction: column;
}

.cart-summary h2 {
    margin-bottom: 20px;
}

.summary-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    width: 300px;
    height: 250px;

    padding: 20px;

    border-radius: 8px;

    background-color: var(--color-medium-dark);
}

.summary-content .price-row {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
}

.summary-row {
    display: flex;
    justify-content: space-between;
}

.summary-content .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 100%;
}

.summary-content #button {
    width: 100%;

    padding: 15px;

    border: none;
    border-radius: 8px;

    font-size: 15px;

    background: var(--fire-gradient);
    color: #fff;

    cursor: pointer;
}

.summary-content #button:hover {
    background: var(--fire-gradient-hover);
}

.summary-content #choice {
    display: flex;
    justify-content: center;
    gap: 5px;

    width: 100%;

    color: var(--color-light);
}

.summary-content #choice::before,
.summary-content #choice::after {
    background-color: hsla(0,0%,100%,.2);
    content: "";
    height: 1px;
    position: relative;
    top: 9px;
    width: 100%;
}

.summary-content .actions #back {
    color: #fff;

    text-decoration: none;
}

.summary-content .actions #back:hover {
    color: var(--color-link-hover);
}