.game-banner {
    height: 500px;
}

.content {
    position: relative;
    top: -150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
}

.panel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.game-cover img{
    width: 600px;
    height: 300px;
    border-radius: 8px;
}

.game-info {
    background: linear-gradient(to bottom, #323232, #272727);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 400px;
    max-width: 400px;
    padding: 20px;
}

.game-info select {
    background-color: hsla(0, 0%, 6%, 0.4);
    border: 1px solid var(--color-medium-light);
    border-radius: 8px;
    width: 100%;
    color: white;
    padding: 15px;
    font-size: 15px;

    appearance: none;
}

.stock {
    background-color: hsla(0, 0%, 6%, 0.4);

    border-radius: 20px;
    padding: 15px;
}

.stock i {
    color: green;
}

.amount {
    display: flex;
    align-items: center;
    gap: 10px;
}

.discount {
    background: var(--fire-gradient);
    border-radius: 8px;
    padding: 5px 10px;
}

.total {
    font-size: 30px;
    font-weight: 400;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--fire-gradient);
    border: none;
    border-radius: 8px;
    padding: 15px;
    color: #fff;
    text-decoration: none;

    width: 100%;

    font-size: 15px;
}

.add-to-cart:hover {
    background: var(--fire-gradient-hover);
}

.details {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.product-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 1200px;
}

.left-column .product-text {
    max-width: 600px;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 350px;
}

.specifics {
    display: flex;
    flex-direction: column;
}

.specifics ul{
    list-style: none;
}